* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: coral;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  padding: 50px;
}

.card {
  background-color: rgb(240, 182, 112);
  border-radius: 20px;
  text-align: center;
  padding: 50px;
  margin: 30px;
  width: 500px;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  font-size: 14px;
}

.card-description {
  border: 3px solid blue;
}

